//Color Scheme
$primary-color: #335576;
$secondary-color: #DB7A4E;
$tertiary-color: #FEFAF5;
$quarternary-color: #FFFFFF;

//NavBar BLock

//Footer Block

//Hero Block
$text-alignment: left;
$card-border-radius: 0.313rem;
$card-border: 0.063rem solid rbga(0,0,0,.2);
$card-shadow-offset: 0.25rem 0;
$card-blur: 0.25rem;
$card-shadow-color: rgba(0,0,0,.2);