//Dimensions
$page-width: 80rem;
$image-width: 35%;
$icon-height: 1.5rem;

//Color Scheme
$primary-color: #335576;
$secondary-color: #DB7A4E;
$tertiary-color: #FEFAF5;
$quarternary-color: #FFFFFF;

//Font
$default-fonts: Verdana, Geneva, Tahoma, 'Open Sans', sans-serif;
$main-heading-size: 5rem;
$secondary-heading-size: 3rem;
$subheading-size: 1.5rem;
$detail-heading-size: 0.625rem;
$text-size: 1rem;
$regular-weight: 400;
$bold-weight: 700;

//Card Attributes
$card-width: 18.75rem;
$card-list-gap: 2.5rem;
$card-border-radius: 0.313rem;